<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Files</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
  <script src="/script.js" defer></script>
</head>
<body>
  <% if (locals.authorized) { %>
    <div class="grid">

      <div>
        <a href="/logout">Logout</a>
        <h1>All Files</h1>
        <div class="margin-top-2-rem"></div>
      
        <% locals.files?.forEach(file => { %>
          <div class="files">
            <h1><%= file.originalFileName %></h1>
            <a href="/files/<%= file.uuid %>">Download</a>
          </div>
          <% }) %>
      </div>
        
        <form action="/db/update" method="POST" class="update-db-form">
          <textarea name="value" spellcheck="false"><%= JSON.stringify(locals.files, null, 2) %></textarea>
          <button type="submit">Update DB</button>
        </form>
      </div>
  <% } else { %>
    <button class="login-btn">Login</button>
  <% } %> 
</body>
</html>